@model IEnumerable<WebAppGallineros.Entities.detgallinasgallineros>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutIn.cshtml";
}

<br />
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Gallinas a Gallineros</h2>
            </div>
            <div class="panel-body">
                <p>
                    <a href="@Url.Action("Create")" class="btn btn-primary">Crear Nuevo</a>
                </p>
                <table class="table table-bordered table-striped" id="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.gallinas.nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.gallineros.codigo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.granjas.nomenclatura)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.statusgallina.descripcion)
                            </th>
                            <th></th>
                        </tr>
                    </thead>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.gallinas.nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.gallineros.codigo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.granjas.nomenclatura)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.statusgallina.descripcion)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.id }) |                                
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

<link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap.min.css" rel="stylesheet" />

@section Scripts{

    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#table').DataTable();
        });
    </script>
}