@model List<WebAppGallineros.Entities.detreportegallinas>
@{
    ViewBag.Title = "DetalleReporte";
    Layout = "~/Views/Shared/_LayoutIn.cshtml";
}
<br />
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Informacion de Reporte</h3>
    </div>
    <div class="panel-body">
        <div class="form form-inline form-multiline">
            <div class="form-group">
                <label>Folio</label>
                <input type="text" class="form-control" disabled value="@ViewBag.Folio">
            </div>
            <div class="form-group">
                <label>Fecha</label>
                <input type="text" class="form-control" disabled value="@ViewBag.Fecha">
            </div>
            <div class="form-group">
                <label>Granjero</label>
                <input type="text" class="form-control" disabled value="@ViewBag.Granjero">
            </div>
            <div class="form-group">
                <label>Granja</label>
                <input type="text" class="form-control" disabled value="@ViewBag.Granja">
            </div>
            <br /><br />
            <a href="@Url.Action("Index")" class="btn btn-default">Regresar</a>
        </div>
    </div>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Gallina</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.gallinas.nombre</td>
                <td>@item.statusgallina.descripcion</td>
            </tr>
        }
    </tbody>
</table>
